// This file is part of www.nand2tetris.org
// and the book "The Elements of Computing Systems"
// by Nisan and Schocken, MIT Press.
// File name: projects/07/MemoryAccess/BasicTest/BasicTest.vm

// Executes pop and push commands using the virtual memory segments.

push constant 10
pop local 98
push constant 21
push local 98
// here it breaks - it goes to 1017
pop argument 2
push constant 11
push argument 2
push constant 12
pop this 2
pop that 2